# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Que no se vea los generados del capito 1 Introduccion,
01_Introduccion/1_Introduccion.aux
01_Introduccion/1_Introduccion.fdb_latexmk
01_Introduccion/1_Introduccion.fls
01_Introduccion/1_Introduccion.log
01_Introduccion/1_Introduccion.synctex.gz
01_Introduccion/1_Introduccion.tex
01_Introduccion/1_Introduccion.toc
01_Introduccion/1_Introduccion.xdv
01_Introduccion/1_Introduccion.pdf

# Que no se vea los generados del capitulo 2 Macro
02_Macros/comandos.aux
02_Macros/comandos.fdb_latexmk
02_Macros/comandos.fls
02_Macros/comandos.log
02_Macros/comandos.synctex.gz
02_Macros/comandos.toc
02_Macros/comandos.xdv
02_Macros/comandos.pdf
02_Macros/entornos.aux
02_Macros/entornos.fdb_latexmk
02_Macros/entornos.fls
02_Macros/entornos.log
02_Macros/entornos.synctex.gz
02_Macros/entornos.toc
02_Macros/entornos.xdv
02_Macros/entornos.pdf
02_Macros/contadores.aux
02_Macros/contadores.fdb_latexmk
02_Macros/contadores.fls
02_Macros/contadores.log
02_Macros/contadores.synctex.gz
02_Macros/contadores.toc
02_Macros/contadores.xdv
02_Macros/contadores.pdf
02_Macros/longitudes.aux
02_Macros/longitudes.fdb_latexmk
02_Macros/longitudes.fls
02_Macros/longitudes.log
02_Macros/longitudes.synctex.gz
02_Macros/longitudes.toc
02_Macros/longitudes.xdv
02_Macros/longitudes.pdf

# Que no se vea los generados del capitulo 3 Estructura
03_Estructura/3_Estructura.aux
03_Estructura/3_Estructura.fdb_latexmk
03_Estructura/3_Estructura.fls
03_Estructura/3_Estructura.log
03_Estructura/3_Estructura.pdf
03_Estructura/3_Estructura.synctex.gz
03_Estructura/3_Estructura.xdv

# Que no se vea los generados del capitulo 3 Estructura
04_Herramientas/4_Herramientas.aux
04_Herramientas/4_Herramientas.fdb_latexmk
04_Herramientas/4_Herramientas.fls
04_Herramientas/4_Herramientas.log
04_Herramientas/4_Herramientas.pdf
04_Herramientas/4_Herramientas.synctex.gz
04_Herramientas/4_Herramientas.xdv
04_Herramientas/Herramientas_2.aux
04_Herramientas/Herramientas_2.fdb_latexmk
04_Herramientas/Herramientas_2.fls
04_Herramientas/Herramientas_2.log
04_Herramientas/Herramientas_2.pdf
04_Herramientas/Herramientas_2.synctex.gz
04_Herramientas/Herramientas_2.xdv

# Que no se vea los generados del capitulo 5 diseno de pagina
05_Diseno/5_Diseno.aux
05_Diseno/5_Diseno.fdb_latexmk
05_Diseno/5_Diseno.fls
05_Diseno/5_Diseno.log
05_Diseno/5_Diseno.pdf
05_Diseno/5_Diseno.synctex.gz
05_Diseno/5_Diseno.xdv

# Que no se vea el capitulo 6
06_Tablas/6_Tablas.aux
06_Tablas/6_Tablas.fdb_latexmk
06_Tablas/6_Tablas.fls
06_Tablas/6_Tablas.log
06_Tablas/6_Tablas.pdf
06_Tablas/6_Tablas.synctex.gz
06_Tablas/6_Tablas.xdv

# Que no se vea los generados del capitulo 3 Estructura
Class_8_Tikz/Tikz.aux
Class_8_Tikz/Tikz.fdb_latexmk
Class_8_Tikz/Tikz.fls
Class_8_Tikz/Tikz.log
Class_8_Tikz/Tikz.pdf
Class_8_Tikz/Tikz.synctex.gz
Class_8_Tikz/Tikz.xdv

# Que no se vea los generados del capitulo 3 Estructura
Class_12_Notas_Margen/notas_margen.aux
Class_12_Notas_Margen/notas_margen.fdb_latexmk
Class_12_Notas_Margen/notas_margen.fls
Class_12_Notas_Margen/notas_margen.log
Class_12_Notas_Margen/notas_margen.pdf
Class_12_Notas_Margen/notas_margen.synctex.gz
Class_12_Notas_Margen/notas_margen.xdv

Class_13_Listas/listas.aux
Class_13_Listas/listas.fdb_latexmk
Class_13_Listas/listas.fls
Class_13_Listas/listas.log
Class_13_Listas/listas.pdf
Class_13_Listas/listas.synctex.gz
Class_13_Listas/listas.xdv

Class_14_Cajas_teorema/cajas.aux
Class_14_Cajas_teorema/cajas.fdb_latexmk
Class_14_Cajas_teorema/cajas.fls
Class_14_Cajas_teorema/cajas.log
Class_14_Cajas_teorema/cajas.pdf
Class_14_Cajas_teorema/cajas.synctex.gz
Class_14_Cajas_teorema/cajas.xdv

# Que no se vea los generados del capitulo 21 NEOVIM
21_Intro_NEOVIM/NEOVIM.aux
21_Intro_NEOVIM/NEOVIM.fdb_latexmk
21_Intro_NEOVIM/NEOVIM.fls
21_Intro_NEOVIM/NEOVIM.log
21_Intro_NEOVIM/NEOVIM.pdf
21_Intro_NEOVIM/NEOVIM.synctex.gz
21_Intro_NEOVIM/NEOVIM.xdv
